.shirt-card {
    width: 20%;
   background-color: #D7EDF7;
   /* margin-right: 50px; */
     border: 2px solid #1884C3;
    margin-top: 20px;
}



.shirt-card img {
    width: 98%;
    margin: 4px 1% 20px 1%;
    /* border: 5px solid #1884C3; */
}

.selected-shirt-card {
  width: 20%;
  border: 2px solid #1884C3;
  background-color: #57A6D7;
    margin-top: 20px;
}

.selected-shirt-card img {
  width: 98%;
  margin: 4px 1% 20px 1%;
  /* border: 5px solid #1884C3; */
}

.paragraph{
color: #1884C3;
font-size: 25px;
text-align:center;
font-weight: bold;


}
.paragraph1{
  color: red;
  font-size: 25px;
  text-align:center;
  font-weight: bold;
}

@media only screen and (max-width: 750px) {
    .shirt-card {
        width: 40%;

        background-color: #D7EDF7;
        /* margin-right: 50px; */
        border: 2px solid #1884C3;
        margin-top: 20px;
    }


    .selected-shirt-card {
        width: 40%;
        border: 2px solid #1884C3;
        background-color: #57A6D7;
        margin-top: 20px;
    }

}
